<!DOCTYPE html>
<html>
<head>
<title>Duole St.</title>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{{! Styles'n'Scripts }}
<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}"/>
<link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.css"}}"/>
<link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" />
</head>
<body>
    <div id="wrapper">
        {{> menu}}
        <div id="header">
        </div>
        <div id="contentliquid">
          <div id="content">
            <section>
              <div class="wallwrapper">
                <div class="wall">
                  <div class="wallrow">
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://gtms03.alicdn.com/tps/i3/TB1LqnlGpXXXXbAXFXXuZ2CPFXX-480-480.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                    <div class="wallrowspanned wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://images.apple.com/v/watch/a/design/images/hero_leather_large.png');" class="display-pic"></a>
                      </div>
                    </div>
                  </div>
                  <div class="wallrow">
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://gtms04.alicdn.com/tps/i4/TB1ZxhkGFXXXXbhXpXXuZ2CPFXX-480-480.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="wallwrapper">
                <div class="wall">
                  <div class="wallrow">
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://static.tianxia.taobao.com/images/tbtxmiiee/20140725/T2014072518050426896.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://img02.taobaocdn.com/imgextra/i2/341978117/TB2pClWaVXXXXbJXXXXXXXXXXXX_!!341978117-0-mtopupload.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://img03.taobaocdn.com/imgextra/i3/341978117/TB2tbXZaVXXXXa1XXXXXXXXXXXX_!!341978117-0-mtopupload.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="wallwrapper">
                <div class="wall">
                  <div class="wallrow">
                    <div class="wallrowspanned wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://img03.taobaocdn.com/imgextra/i3/341978117/TB2l2eyaFXXXXc6XXXXXXXXXXXX_!!341978117-0-mtopupload.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                    <div class="wallempty wallcell"></div>
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://img02.taobaocdn.com/imgextra/i2/341978117/TB2PClLaVXXXXXvXpXXXXXXXXXX_!!341978117-0-mtopupload.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                  </div>
                  <div class="wallrow">
                    <div class="wallempty wallcell"></div>
                    <div class="wallempty wallcell"></div>
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://static.tianxia.taobao.com/images/tbtxmiiee/20140725/T2014072520104662436.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="wallwrapper">
                <div class="wall">
                  <div class="wallrow">
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://static.tianxia.taobao.com/images/tbtxmiiee/20140725/T2014072518050426896.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://img02.taobaocdn.com/imgextra/i2/341978117/TB2pClWaVXXXXbJXXXXXXXXXXXX_!!341978117-0-mtopupload.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                    <div class="wallcell">
                      <div class="transbox">
                        <a href="#" style="background-image: url('http://img03.taobaocdn.com/imgextra/i3/341978117/TB2tbXZaVXXXXa1XXXXXXXXXXXX_!!341978117-0-mtopupload.jpg');" class="display-pic"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
         </div>
        </div>
        <div id="leftcolumn">
        </div>
        <div id="rightcolumn">
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
