{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class=" container">
		<a href="/" class="menu__item menu__item--active">Index</a>
		<a href="/product/cloth" class="menu__item">Cloth</a>
		<a href="/product/shoes" class="menu__item">Shoes</a>
		<a href="/product/pic" class="menu__item">Pic</a>
	</div>
</nav>
