{{! Put your menu content here or make this file empty in order to remove the menu }}

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Index</a>
        </li>
        <li>
          <a href="/category/cloth">Cloth</a>
        </li>
        <li>
          <a href="/category/shoes">Shoes</a>
        </li>
        <li>
          <a href="/category/pic">Pic</a>
        </li>
      </ul>
    </nav>
  </div>
</header>