body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #F1F1F1;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

p {
    padding: 10px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#header {
    float: left;
    height: 80px;
    width: 100%;
}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #F1F1F1;
    margin: 0 auto;
    width: 900px;
}

#footer {
    height: 100px;
    width: 100%;
    background: #F1F1F1;
    clear: both;
}

.wallwrapper {
    position: relative;
}

.wall {
    display: table;
}

.wallrow {
    display: table-row;
}  

.wallcell {
    display: table-cell;
    width: 300px;
    height: 240px;
    padding: 5px;
}

.wallcell.wallempty
{
    border: none;
    width: 300px;
}

.wallcell.wallrowspanned {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 600px;
    height: 480px;
}

.display-pic {
    background-position: center center;
    background-repeat: no-repeat;
    background: rgba(250, 250, 250, 3);
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.display-pic:hover {
    opacity: 0.9;
    box-shadow: -0.5px -0.5px 8px #ffffff;
}

.transbox{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


.transbox:hover {
    background: rgba(10, 10, 10, 5);
}

